.cke_dialog_ui_vbox_child {
  height: 65px !important;
}
.cke_dialog_ui_input_file {
  height: 200px !important;
}
.createbtncls{
    float: right;
    margin-top: 10px;
    margin-right: 10px;
}
.success{
    background-color: #00a65a !important;
}
.failure{
    background-color: red !important;
    
}
.imgcls{
    margin-left: 210px;
}
.errormsg{
    margin-left: 210px;
}
.required-label:after {
  content:" * ";
  color:red;
}

span.slug {
  float: left;
  margin-top: 10px;
}
#services-service_slug{
  width: 55%;
}
#pages-page_slug, #products-product_slug {
  width: 69%;
}
.advance_search{
    margin-bottom: 20px;
  padding-bottom: 10px;
  padding-top: 20px;
  padding-left: 25px;
   padding-right: 25px;
}
.reset1{
    margin-top: 25px;
}
.datepicker table tr td.old, .datepicker table tr td.new ,.datepicker table tr td.disabled {
  color: #777;
}
.col-sm-5.valueright {
  padding-top: 7px;
}
.form-horizontal .control-label.valueleft{
  margin-bottom: 0;
  padding-top: 7px;
  text-align: left;
}
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.recep-heading{
    
    color: #337ab7;
    
    
    
}

.pdfimg-topright {
    position: absolute;
    top: 8px;
    right: 16px;
    font-size: 18px;
}
.pdftab td, .pdftab th {
    border: 0px solid #ddd  !important;
    padding: 8px  !important;
}
.tab-lef{
    
    text-align:left !important;
    padding-left: 25px  !important;
     float: left  !important;
}
.recp-btn{
    
    background: #0594d2;
    color: #ffffff;
}
.btn.focus, .btn:focus, .btn:hover {
    color: #fff !important;
    text-decoration: none !important;
}

.pdf-border{
               width: 100%;
               height: 100%;
               border:4px double black;
           }
           

.panel-body {
    padding: 37px !important;
}